
@media only screen and (min-width: 1920px) {

    /* .font_xx_tiny{
        font-size: 6pt;
    }
    
    .font_x_tiny{
        font-size: 8pt;
    }
    
    .font_tiny{
        font-size: 10pt;
    }
    
    .font_small,
    .nav,
    #ll-footer{
        font-size: 14pt;
    }
    
    body,
    .font_medium,
    .ll-widger-rounder-button,
    button,
    input
    {
        font-size: 16pt;
    }
     */
}
