

div {
    display: inline-block;
}

input,
.like_textbox,
textarea,
button,
.ll-widget-col-input select {
    border-radius: none;
    box-shadow: none;
    border: none;
    border-bottom: 1pt solid rgba(0,0,0,0.1);
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    white-space: nowrap;
    border-radius: 0;
    box-sizing: border-box;
}

.ll-widget-col-input select {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    margin-top: -0.2em;
}

textarea {
    white-space: normal;
    line-height: 1.5em;
}

    input[type=text].error,
    input[type=number].error,
    input[type=tel].error,
    input[type=password].error,
    select.error,
    textarea.error {
        box-sizing: border-box;
        padding-right: 1.2em;
        background-repeat: no-repeat;
        background-position: 99.5% center;
        background-size: auto 0.6em;
    }


    input[type=text].success,
    input[type=number].success,
    input[type=tel].success,
    select.success,
    textarea.success {
        box-sizing: border-box;
        padding-right: 1.2em;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 0.6em;
    }

.ll-widget-checkbox,
input[type=checkbox] {
    display: inline-block;
    border: 1px solid #b4b4b4;
    border-radius: 2pt;
    background: transparent;
    box-shadow: none;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-right: 1em;
    margin-top: 0.2em;
}

    .ll-widget-checkbox,
    input[type=checkbox]:checked {
    }


        .ll-widget-checkbox.error,
        input[type=checkbox].error {
            border-color: red;
        }


    input[type=checkbox]:disabled {
        opacity: 0.4;
    }

        input[type=checkbox]:disabled ~ span {
            opacity: 0.4;
        }


textarea {
    resize: none;
}

select {
    border: none;
    background: #fff;
    border: none;
    box-shadow: none;
    background-color: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 2em;
    border-radius: 0;
    display: inline-block;
    position: relative;
    background-size: auto 0.35em;
    background-repeat: no-repeat;
    background-position: 98% 45%;
}

    select::before {
        content: " ";
        background: #fff;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
    }

button {
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d4d4d4;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d4d4d4;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #d4d4d4;
}

.ll-frame {
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
    float: left;
}

.height-auto {
    height: auto;
}

.ll-widget-box {
    position: relative;
    width: auto;
    box-sizing: border-box;
}

.ll-widget-rounder-button {
    box-shadow: none;
    border: none;
    border-radius: 100pt;
    background-color: #006ed2;
    text-align: center;
    padding: 0.85em 2.5em 0.8em 2.5em;
    color: #fff;
    display: inline-block;
}

    .ll-widget-rounder-button span {
        color: #fff;
    }

button, input[type=submit],
input[type="file"] {
    padding: 0;
    border: 0;
    line-height: normal;
}

.ll-widget-lb-title {
    color: #006ed2;
    line-height: 1.1em;
    display: inline-block;
}

.ll-widget-lb-default {
    color: #323232;
    display: inline-block;
}

.ll-widget-tab-button {
    color: #323232;
    padding-bottom: 4px;
    display: inline-block;
}

    .ll-widget-tab-button.selected {
        position: relative;
    }

        .ll-widget-tab-button.selected::after {
            content: " ";
            width: 100%;
            height: 10%;
            bottom: 0px;
            left: 0;
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: 100% 100%;
            background-position: left bottom;
            position: absolute;
        }

.ll-widget-breadcrumb {
    float: left;
    padding-top: 8pt;
    padding-bottom: 8pt;
    border-top: 1pt solid rgba(0,0,0,0.1);
    border-bottom: 1pt solid rgba(0,0,0,0.1);
}

.table-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow-x: auto;
}

    .table-wrapper table {
        width: auto;
    }

.ll-widget-breadcrumb ul {
    float: left;
}

    .ll-widget-breadcrumb ul li {
        float: left;
        display: block;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
    }

        .ll-widget-breadcrumb ul li > a {
            color: rgba(0, 0, 0, 0.4);
            float: left;
        }


        .ll-widget-breadcrumb ul li:last-child > a {
            color: #323232;
        }

        .ll-widget-breadcrumb ul li > a::before {
            /* content: "❯"; */
            content: ">";
            font-size: 1.1em;
            margin-top: -0.2em;
            display: inline-block;
            margin-left: 0.3em;
            margin-right: 0.3em;
            color: rgba(0, 0, 0, 0.4);
            /* transform: translateY(0.5em); */
        }

        .ll-widget-breadcrumb ul li:first-child > a::before {
            content: "";
            display: none;
        }

.direct-box-right {
    float: right;
}

.border-bottom-dark {
    border-bottom: 1pt solid rgba(0,0,0,0.1);
}

.border-top-dark {
    border-top: 1pt solid rgba(0,0,0,0.1);
}

.ll-slideShow {
    overflow: hidden;
    position: relative;
}


    .ll-slideShow .sld-wrapper {
        display: inline-block;
        transition: transform .4s ease-in-out;
        width: 100%;
    }

        .ll-slideShow .sld-wrapper li {
            width: auto;
            float: left;
        }

        .ll-slideShow .sld-wrapper > li:first-child {
            z-index: 2;
        }

    .ll-slideShow .ll-widget-pager li {
        width: auto;
    }


.ll-promo-wrapper .sld-wrapper > li {
    float: left;
    width: 100%;
}

.ll-widget-pager {
    float: left;
    padding-top: 5pt;
    padding-bottom: 5pt;
    text-align: center;
    z-index: 1000;
}

    .ll-widget-pager li,
    .ll-widget-pager li a {
        width: auto;
        height: auto;
        display: inline-block;
        float: none
    }

        .ll-widget-pager li a {
            cursor: pointer;
            padding: 0.5em 0.2em;
        }

            .ll-widget-pager li a::before {
                width: 0.7em;
                padding-top: 100%;
            }

            .ll-widget-pager li a span {
                border-radius: 50%;
                display: inline-block;
                width: 0.7em;
                /* height: 0.7em; */
                padding-top: 100%;
                background: #b4b4b4;
                float: left;
            }

    /* .ll-widget-pager li a span::before{
    content:" ";
    display: block;
    float: left;
    padding-top: 100%;
} */

    .ll-widget-pager a.selected span {
        background: #006ed2;
    }

.ll-dialog-root {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ll-dialog-container {
    position: relative;
    padding: 18pt;
    background: #fff;
    min-width: 320px;
    box-sizing: border-box;
}

.ic_download::before {
    content: " ";
    display: inline-block;
    clear: left;
    width: 1.1em;
    height: 1.1em;
    margin-bottom: -0.1em;
    margin-right: 0.8em;
    position: relative;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ic_location::before {
    content: " ";
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    margin-top: 0.1em;
    margin-right: 0.8em;
    position: relative;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ic_location > p {
    margin: 0;
    padding: 0;
    line-height: inherit;
    margin-left: 1.8em;
}

    .ic_location > p:first-child {
        margin-left: 0;
    }

.ic_phone::before {
    content: " ";
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    margin-top: 0.1em;
    margin-right: 0.8em;
    position: relative;
    background-size: auto 96%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ic_clock {
    position: relative;
}

    .ic_clock::before {
        content: " ";
        display: block;
        float: left;
        width: 1em;
        margin-top: 0.1em;
        height: 1em;
        margin-right: 0.8em;
        position: relative;
        background-size: auto 90%;
        background-position: center center;
        background-repeat: no-repeat;
    }



.ic_facebook::before {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-bottom: -0.15em;
    margin-right: 0.5em;
    position: relative;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.ll-widget-col-input {
    display: block;
    position: relative;
    float: left;
}

    .ll-widget-col-input * {
        width: 100%;
        float: left;
        display: block;
    }

    .ll-widget-col-input > span:first-child {
        margin-bottom: 0.3em;
        color: #b4b4b4
    }


    .ll-widget-col-input .holder-text {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 2em;
        width: 2em;
        color: #b4b4b4;
        z-index: 0;
    }

        .ll-widget-col-input .holder-text ~ input[type=text],
        .ll-widget-col-input .holder-text ~ input[type=number],
        .ll-widget-col-input .holder-text ~ input[type=tel] {
            padding-left: 2.5em;
            z-index: 1;
            box-sizing: border-box;
        }

.ll-widget-search-box {
    border-radius: 50pt;
    border: 1px solid #323232;
    position: relative;
}

    .ll-widget-search-box input[type=text] {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin: 0.4em 1.5em;
        border: none;
        box-shadow: none;
        width: 76%;
        float: left;
        border-radius: 50pt;
    }


.ll-widget-col-input .error-box {
    position: absolute;
    top: 99%;
    min-width: 100%;
    background: rgba(0,0,0,0.8);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 80%;
    color: #fff;
    border-top: 1px solid red;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 4px;
    animation: 'fadeIn' .1s ease-out forwards;
    -webkit-animation: 'fadeIn' .1s ease-out forwards;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

    .ll-widget-col-input .error-box.min-size {
        line-height: 1.4em;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        font-size: 70%;
    }

.ll-widget-col-checkbox {
    position: relative;
    padding-left: 2em;
}

    .ll-widget-col-checkbox input[type=checkbox] {
        position: absolute;
        left: 0;
        top: 0;
        width: 1em;
        height: 1em;
        ;
    }

.ll-widget-col-checkbox {
}

.ll-widget-search-box .button-search {
    float: right;
    width: 20%;
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    display: block;
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
    border-top-right-radius: 50pt;
    border-bottom-right-radius: 50pt;
}

#lb_ext_error {
    color: red !important;
    text-align: left;
    display: none;
    float: left;
}

.ll-widget-expander-root .expander-content-box {
    transform: scale(0.95);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}

#panel_term ul li::before {
    content: "•";
    margin-right: 1.5em;
    float: left;
    display: block;
}

#panel_term ul li span {
    display: block;
    float: left;
    width: 90%;
}

.ll-widget-expander-root .title {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: auto 0.8em;
}


.expander-button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: auto 0.8em;
    width: 100%;
    float: left;
    display: block;
    color: #006ed2;
}

.expander-content-box {
    width: 100%;
    float: left;
    display: none;
    position: relative;
}


.expander-button.expanded {
    background-size: 0.8em auto;
}

    .expander-button.expanded ~ .expander-content-box {
        display: block !important;
    }

.ll-widget-dropdown {
    display: inline-block;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.2em;
    text-align: left;
    color: #323232;
    position: relative;
    float: left;
}

    .ll-widget-dropdown::before {
        content: ">";
        display: inline-block;
        background-color: #fff;
        right: 0;
        position: absolute;
        background-repeat: no-repeat;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
    }

.dropdown-select-box {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2em;
    /* display: none; */
}

    .dropdown-select-box a {
        display: block;
        float: left;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
    }

.ll-widget-paging {
    display: inline-block;
    margin: auto;
}

    .ll-widget-paging,
    .ll-widget-paging li {
        display: inline-block;
        text-align: center;
    }

        .ll-widget-paging li a {
            float: left;
            padding-left: 0.1em;
            padding-right: 0.1em;
        }

            .ll-widget-paging li a.border-selected::after {
                bottom: -0.2em;
                height: 0.25em;
            }

.g-recaptcha {
    border: 1pt solid transparent;
    position: relative;
}

    .g-recaptcha > div {
        position: relative;
        /* z-index: 1; */
    }

    .g-recaptcha.error {
        float: right;
    }

        .g-recaptcha.error::before {
            position: absolute;
            z-index: 100;
            left: 0px;
            top: 0px;
            bottom: 7px;
            right: 2px;
            border: 1px solid red;
            box-shadow: red 0px 0px 8px;
            content: " ";
            display: block;
            border-radius: 2px;
            z-index: 0;
        }

.ui-datepicker-title select {
    text-align: center;
    text-align-last: center;
    appearance: initial;
    -webkit-appearance: initial;
    -moz-appearance: initial;
}

.ui-datepicker-header {
    width: 100%;
}

.ui-datepicker-title {
    width: 72%;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    height: 85% !important;
}

.ui-datepicker-calendar td {
    line-height: 1.8em;
    width: 14.2%;
}



.loading_dialog {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200001;
}


    .loading_dialog div {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .loading_dialog span {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        margin-right: 0px;
        margin-top: 3.5em;
        margin-bottom: 3.5em;
        animation: 'loading' 1s linear 0s infinite both;
        -webkit-animation: 'loading' 1s linear 0s infinite both;
        float: left;
        border: 1px solid rgba(255,255,255,0.5);
    }

        .loading_dialog span:last-child {
            margin-right: 0;
        }

        .loading_dialog span:nth-child(1) {
            animation-delay: 0s;
            -webkit-animation-delay: 0s
        }

        .loading_dialog span:nth-child(2) {
            animation-delay: .2s;
            -webkit-animation-delay: .2s
        }

        .loading_dialog span:nth-child(3) {
            animation-delay: .4s;
            -webkit-animation-delay: .4s
        }

@media only screen and (max-width: 820px) {
    .ll-widget-rounder-button {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.6em;
        padding-top: 0.65em;
    }

    .tab-group {
        text-align: center;
    }

    .ll-widget-breadcrumb {
        width: 106%;
        margin-left: -3%;
        padding: 0px !important;
    }

        .ll-widget-breadcrumb > * {
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
        }

        .ll-widget-breadcrumb #ll-account-welcome {
            width: 100%;
            box-sizing: border-box;
            border-top: 1pt solid rgba(0,0,0,0.1);
        }

    .ic_location::before,
    .ic_phone::before,
    .ic_clock::before {
        height: 1.8em;
        margin-top: 0em;
        margin-right: 0.8em;
        background-size: 100% auto;
        background-position: center;
    }


    .ll-widget-col-input .error-box,
    .ll-widget-col-input .error-box.min-size {
        /* position: relative;
        left: inherit;
        bottom: inherit; */
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        line-height: 2em;
        font-size: 75%;
    }

    .ll-widget-paging > li > a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

        .ll-widget-paging > li > a.border-selected::after {
            bottom: 0;
            width: 50%;
            left: 25%;
        }


    .ui-datepicker {
        width: 100% !important;
        height: 100% !important;
        top: 0% !important;
        position: fixed !important;
        left: 0 !important;
        background: rgba(0,0,0,0.7) !important;
        padding-top: 35% !important;
        padding-left: 3% !important;
        padding-right: 3% !important;
        z-index: 10002 !important;
        border: 0 !important;
        border-radius: 0 !important;
        box-sizing: border-box;
        display: none;
        overflow: auto;
    }

        .ui-datepicker * {
            border-radius: 0;
        }

        .ui-datepicker .ui-datepicker-calendar {
            background: #fff;
            width: 100.7% !important;
        }
}
