@model IPageViewModel<SitePageData>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}
@{
    await Html.RenderPartialAsync("Breadcrumbs", Model);
}

<script src="~/js/forgot-pass.js"></script>
<style type="text/css">
    #col_email {
        display: inline-block;
        float: none;
        margin-top: 2.8em;
        margin-bottom: 1.8em;
        margin-left: 10%;
        margin-right: 10%;
    }

        #col_email input[type=text] {
            text-align: center;
        }

    #btn_reset {
        margin-top: 1.7em;
        display: block;
        width: 26%;
        margin: 1.6em 37% 0 37%;
        box-sizing: border-box;
    }

    @@media only screen and (max-width: 820px) {
        #col_email {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }

        #btn_reset {
            width: 100%;
            margin-left: 0;
            box-sizing: border-box;
        }

        #panel_form > span.box-size-48,
        #panel_form > span.box-size-70 {
            width: 100%;
        }
    }
</style>

<form method="POST" autocomplete="off" data-request="ForgotPassword::onForgetPassword" data-request-validate>
    <div id="panel_form" class="ll-frame frame-size-70 content-center">
        <span class="font_x_extreme uppercase
            bold padding-box-3 box-size-100 inline-block content-center">
            Reset Your Password
        </span>
        <span class="box-size-70 inline-block margin-top-large">
            If you are an existing member without a password, or have forgotten your password, please enter the
            mobile number previously registered with your Lendlease Plus account below.
        </span>


        <div id='col_email' class="ll-widget-col-input box-size-50">
            <span>Phone Number</span>
            <span class="holder-text">
                +65
            </span>
            <input id="txt_mobile" autocomplete="off" type="text" name="mobile" />
        </div>
        <span class="box-size-48 inline-block font-color-light">
            For security purposes, Lendlease Plus requires your mobile number in order to reset your password.
        </span>
        <button id="btn_reset" type="submit" class="ll-widget-rounder-button">
            <span>Reset password</span>
        </button>

    </div>
    <p class="padding-box-4"></p>
</form>

<script>
    $(window).on('ajaxInvalidField', function (event, fieldElement, fieldName, errorMsg, isFirst) {
        var field = {};
        field[fieldName] = errorMsg[0];
        onBEValidateError(field);
    });
</script>
