@using Blend.Cms12.Models.Blocks.Hero
@model BookNowBlock

<div class="book-now-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="book-now-form">
                    <form action="#">
                        <div class="form-group">
                            <label for="select1">Check In</label>
                            <select class="form-control" id="select1">
                            </select>
                        </div>
                        <button type="submit">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
