@using Blend.Cms12.Models.Blocks.Benefits
@model MembershipBlock

<div ll-hashtag-listener='membership' class="box-size-100 ">
    <h2>@Model.Heading</h2>
    <p>
        <br>
    </p>

    <p>
        @Html.Raw(Model.Description)
    </p>

    <p>
        <br>
    </p>
    <div class="pn_article_content box-size-100">
        <br>
    </div>
</div>